body {
    background-attachment: fixed;
    background-image: url("../images/skyline.jpg");
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center center;
    background-attachment: fixed;
}

p {
    color: white;
}

.schools-box {
    text-align: center;

}

.score {
    border: solid;
    border-style: double;
    border-color: black;
    position: right;
    text-align: center;
}

.random-number {
    border: solid;
    border-style: double;
    border-color: black;
    position: right;
    text-align: center;
}

